/* Estilos generales */
.users__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1em;
}

/* Estilos para la lista de usuarios */
.users__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.users__title {
  display: flex;
  color: #0f0f2d;
  font-size: 50px; 
  font-style: normal;
  line-height: normal; 
  
}


.users__form-button {
  width: 10em;
  height: 2em;
  margin: 1em;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  background-image: linear-gradient(to bottom, rgb(1, 71, 146), #c2d4fc);
  color: white;
  outline: none;
  border-radius: 0.5em;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
}

.users__form-button:hover{
  filter: brightness(1.2);
  box-shadow: 0 0 20px rgba(1, 71, 146, 0.8);
}

/* Media query para pantallas más pequeñas, por ejemplo, tablets y smartphones */
@media screen and (max-width: 768px) {
  .users__title {
    font-size: 30px;
  }
  
  .users__form-button {
    width: 25%; 
    font-size: 0.8rem; 
    margin: 0.5em; 
  }
}
