/* Estilos generales */
.users__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Estilos para la lista de usuarios */
.users__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.users__title {
  display: flex;
  color: #0f0f2d;
  font-size: 50px; 
  font-style: normal;
  line-height: normal; 
}


.users__form-button {
  width: 10em;
  height: 2em;
  margin: 1em;
  font-size: 1rem;
  font-weight: 400;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  background-image: linear-gradient(to bottom, rgb(1, 71, 146), #c2d4fc);
  color: white;
  outline: none;
  border-radius: 0.5em;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
}

/* Media queries para dispositivos más pequeños */
@media (max-width: 768px) {
  .users__list {
    justify-content: flex-start; /* Alinear elementos a la izquierda en dispositivos pequeños */
  }

  .users__title {
    font-size: 30px; /* Reducir el tamaño del título en dispositivos pequeños */
    height: 2em; /* Ajustar la altura del título en dispositivos pequeños */
  }

  .users__form {
    flex-direction: column; /* Alinear elementos del formulario en columna en dispositivos pequeños */
  }

  .users__form-input {
    max-width: 100%; /* El ancho del campo de entrada ocupará todo el espacio disponible */
  }

  .users__form-button {
    width: 100%; /* El botón ocupará todo el ancho disponible */
    margin: 0.5em 0; /* Ajustar los márgenes del botón */
  }
}
