@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
ul,
hr {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
input {
  outline: none;
  font-family: inherit;
}
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
}

/* Para el navegador Google Chrome y Microsoft Edge (basado en Chromium) */
/* Ocultar las barras de desplazamiento */
body::-webkit-scrollbar {
  width: 0.5em;
}

/* Personalizar el color de las barras de desplazamiento */
body::-webkit-scrollbar-thumb {
  background-color: rgba(1, 71, 146, 0.8);
}

body::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

/* Para el navegador Mozilla Firefox */
/* Ocultar las barras de desplazamiento y mostrar solo cuando se haga scroll */
body {
  scrollbar-width: thin;
  scrollbar-color: rgba(1, 71, 146, 0.8) #f0f0f0;
}

/* ===== Dark Mode ===== */
body.dark-mode {
  background-image: linear-gradient(to right, #000000, #111b22);

  .formuser {
    background-image: linear-gradient(to right, #000000, #111b22);
    color: white;
  }

  .users__title {
    color: white;
  }

  .user-profile {
    background-color: #21211c;
    color: white;
  }

  .info-countainer {
    background-image: linear-gradient(to right, #000000, #111b22);
    color: white;
  }

  .user-profile__name {
    color: white;
  }

  .user-profile__label {
    color: #fdfdfd;
    font-weight: bold;
  }
  .user-profile__value {
    color: rgb(146, 144, 144);
  }

}

/* Para el navegador Google Chrome y Microsoft Edge (basado en Chromium) */
/* Ocultar las barras de desplazamiento */
body.dark-mode::-webkit-scrollbar {
  width: 0.5em;
}

/* Personalizar el color de las barras de desplazamiento */
body.dark-mode::-webkit-scrollbar-thumb {
  background-color: #21211C;
}

body.dark-mode::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

/* Para el navegador Mozilla Firefox */
/* Ocultar las barras de desplazamiento y mostrar solo cuando se haga scroll */
body.dark-mode {
  scrollbar-width: thin;
  scrollbar-color: #21211C #f0f0f0;
}
